.faq-section {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.faq {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.faq-side-image {
  max-width: 85%;
  align-self: center;
  margin: auto;
}

.faq-title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--secund-color);
  font-size: 35px;
}

.accordion {
  width: 100%;
  background: var(--first-color);
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  background: var(--first-color);
}

.accordion.active {
  border: 1px solid var(--secund-color);
}

.accordion-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  background: var(--third-color);
  color: var(--first-color);
  cursor: pointer;
}
.accordion.active .accordion-header {
  background: var(--secund-color);
}
.accordion-title {
  flex: 1;
  font-weight: 500;
}

.accordion-icon {
  font-size: 25px;
  margin-left: 10px;
}

.accordion-content {
  padding: 15px;
  display: none;
}

.accordion.active .accordion-content {
  display: block;
}

@media only screen and (max-width: 900px) {
  .faq {
    width: 100%;
  }
}
