.not-found-page {
  background-image: linear-gradient(
    1200deg,
    var(--clr-sec) 0%,
    var(--secund-color) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-box {
  background: #fff;
  width: fit-content;
  padding: 50px;
  margin: 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.not-found-box h1 {
  font-size: 100px;
  text-align: center;
}
.not-found-box h2 {
  font-size: 30px;
  text-align: center;
}
.not-found-box p {
  font-size: 20px;
  text-align: center;
}

.report-btns {
  display: flex;
}
.report-btns a {
  background: var(--clr-sec);
  padding: 10px 20px;
  margin: 10px;
  font-size: large;
  font-weight: 500;
  color: var(--first-color);
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .report-btns {
    flex-wrap: wrap;
    justify-content: center;
  }
  .report-btns a {
    display: inline;
    /* width: fit-content; */
  }
}
