.blog-content {
  max-width: 1200px;
  text-align: justify;
  margin: auto;
  font-size: 18px;
  h1,
  h2 {
    color: var(--secund-color);
  }
  h3,
  h4 {
    color: var(--clr-sec);
    font-size: 25px;
  }
  a {
    color: var(--secund-color);
    text-decoration: underline;
  }
  ul {
    padding-inline-start: 30px;
  }
  li {
    list-style: disc;
    padding-left: initial;
  }
  p {
    margin-bottom: 8px;
  }
}
