.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    1200deg,
    var(--clr-sec) 0,
    var(--secund-color) 100%
  );
}

.auth-page .form-container {
  padding: 20px;
  width: 600px;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.radio-selector {
  display: flex;
  gap: 20px;
  label {
    display: flex;
    gap: 5px;
  }
}
