#footer {
  background: var(--third-color);
  color: var(--first-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-columns {
  display: grid;
  grid-template-columns: 5fr 2fr 4fr 4fr;
  justify-content: space-between;
  gap: 20px;
}

.footer-logo {
  color: var(--first-color);
  color: #000;
  background-color: #fff;
  display: block;
}
.footer-logo:hover {
  color: var(--secund-color);
}

.footer-about-description {
  text-align: justify;
}

.Footer-subheading {
  color: var(--first-color);
  font-size: 25px;
  margin-bottom: 10px;
}

.menu-item {
  color: var(--first-color);
  padding: 5px 0;
  display: block;
}
.footer-navbar.menus {
  padding-left: 20px;
}
.footer-navbar .menu-item i {
  font-size: 15px;
  margin-right: 5px;
}

.quick-links li {
  position: relative;
}
.quick-links li::before {
  position: absolute;
  top: 8px;
  left: -18px;
  height: 100%;
  content: "\e9ba";
  font-family: "Material Icons";
  color: var(--e-global-color-primary);
  font-size: 12px;
}
.social-icons {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}
.social-icons .social-icon {
  color: var(--first-color);
  font-size: 20px;
  /* margin:10px; */
}

@media only screen and (max-width: 1024px) {
  .footer-columns {
    grid-template-columns: 5fr 4fr;
  }
}

@media only screen and (max-width: 768px) {
  .footer-columns {
    grid-template-columns: 1fr;
  }
}
