/* Syne Font  */
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-first);
}

::selection {
  background: var(--third-color);
  color: var(--first-color);
}

html {
  scroll-behavior: smooth;
}

:root {
  --first-color: #fff;
  --secund-color: #002fff;
  --text-color: #000;
  --clr-sec: #fc7819;
  --third-color: #24262d;
  --background-first: #f8f8ff;
  --first-font: "Syne", sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
input,
input::placeholder,
button,
textarea,
textarea::placeholder,
option,
select,
label,
div {
  /* font-family: "DM Sans", sans-serif;
  font-family: "Raleway", sans-serif; */
  font-family: var(--first-font);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  cursor: pointer;
}
.title {
  color: var(--secund-color);
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;
}

h2 {
  font-size: 35px;
}

.text-center {
  text-align: center;
}
.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 15px 0;
}

/* Tab  */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }

  .products {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

/* Phone */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

/* Small Phone */
@media screen and (max-width: 480px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}