.quick-view-section {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.product-quick-view {
  background: var(--background-first);
  border: 1px solid var(--secund-color);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  width: 60%;
  gap: 20px;
  max-width: 70%;
}
.product-quick-view .product-image-section {
  position: static;
}
.btn-qv-close {
  color: var(--secund-color);
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid var(--secund-color);
  margin: -10px;
  padding: 5px;
  background: var(--background-first);
  z-index: 59999;
}

@media screen and (max-width: 1000px) {
  .product-quick-view {
    width: 100%;
    max-width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .product-quick-view {
    flex-direction: column;
  }
}
/* More CSS of Quick Product View is in the ProductDetails.css */
